:root {
  --primary-Bright-orange: hsl(31, 77%, 52%);
  --primary-Dark-cyan: hsl(184, 100%, 22%);
  --primary-VeryDark-cyan: hsl(179, 100%, 13%);
  /* Nuetral */
  --transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --very-lightGrey: hsl(0, 0%, 95%);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparent-white-paragraph);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Big Shoulders Display", cursive;
  margin: 3.5rem 0 2.5rem;
  font-size: 2.3em;
  color: var(--very-lightGrey);
}

/* button */
.btn {
  background: var(--very-lightGrey);
  border-radius: 30px;
  padding: 1.5rem 1rem;
  width: 14.5rem;
  font-family: inherit;
  font-size: inherit;
  margin-top: 2.5rem;
  border: 0;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: transparent;
  border: 2px solid var(--very-lightGrey);
  color: var(--very-lightGrey);
  outline: none;
}

.btn--darkcyan {
  color: var(--primary-Dark-cyan);
}

.btn--orange {
  color: var(--primary-Bright-orange);
}
.btn--veryDarkcyan {
  color: var(--primary-VeryDark-cyan);
}

@media screen and (min-width: 678px) {
  .btn {
    margin-top: 8rem;
  }
}

/* card */

.card {
  width: 327px;
  padding: 5rem;
}

.card--darkcyan {
  background: var(--primary-Dark-cyan);
}

.card--orange {
  background: var(--primary-Bright-orange);
}

.card--veryDarkcyan {
  background: var(--primary-VeryDark-cyan);
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 678px) {
  .grid-1x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    height: 500px;
  }
}
